* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #2196F3;
    --purple-blue: #3D5AFE;
    --dark-blue: #0D47A1;
    --font-default: Verdana, Arial, sans-serif;
}

.flex {
    display: flex;
}

form {
    justify-content: center;
    height: 80%;
    min-width: 300px;
    width: 100%;
}

#form-input-wrapper {
    border: 1px solid black;
    flex-direction: column;
    font-size: 14px;
    height: 400px;
    justify-content: space-evenly;
    max-width: 475px;
    padding: 5px 30px;
    width: 80%;
}

h1 {
    font-size: 32px; 
}

h2 {
    font-size: 12px;
}

header {
    align-items: center;
    background: linear-gradient(to left, var(--blue), var(--purple-blue));
    color: #fff;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    position: relative;
    width: 100vw;
}

#header-text {
    text-align: center;
    margin: 0 50px;
    max-width: 450px;
}

html {
    font-family: var(--font-default);
}

input {    
    border: 1px solid gray; 
    color: gray;
    font-family: var(--font-default);     
    padding: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#input-search {
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px var(--dark-blue);
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

label {
    flex-direction: column;
}

main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#travel_explore-icon {
    color: var(--blue);
    font-size: 64px;
    text-align: center;
}

#travel_explore-wrapper {
    background-color: #fff;
    border-radius: 50%;
    bottom: -22%;
    align-items: center;    
    height: 80px;
    justify-content: center;
    margin: 0 auto;
    position: absolute;   
    width: 80px;    
}