* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-border-geral: #CFD8DC;
    --cor-padrao-fonte: #434f55;
    --fonte-cor-titulo: #E53935;
    --fonte-padrao: 'Righteous', cursive;
    font-size: 100%;
}

html {
    font-family: var(--fonte-padrao);
}

a {
    align-items: center;
    color: var(--cor-padrao-fonte);
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    height: 100%;
    justify-content: flex-end;
    text-decoration: none;
    width: 100%;
}

.btn {
    background-color: green;
    color: #fff;    
    cursor: pointer;
    font-size: clamp(12px, 2vw, 14px);
    margin: 10px 0;
    padding: 10px;
    max-width: 150px;
    width: 60%;
}

.card {
    border: 2px solid var(--cor-border-geral);
    margin: 5px;
    padding: 10px;
    min-width: 200px;    
}

.card-img-pizza {
    padding: 2px;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.form-tamanho-pizza {
    align-items: center;
    justify-content: center;
}

.form-tamanho-pizza label {
    align-items: center;
    cursor: pointer;
    font-size: clamp(12px, 2vw, 14px);
    padding: 2px;
    width: 30px;
}

footer {
    border-top: 2px solid var(--cor-border-geral);
    text-align: center;
}

footer > h3 {
    margin: 20px;
}

footer, header, main {
    margin: auto;
    width: 80%;
}

.go:hover {
    background-color: var(--fonte-cor-titulo);
    color: #fff;
    transition: 0.5s;
}

.img-pizza {
    width: 100%;
}

#infos {
    flex-direction: column;
    justify-content: space-evenly;
}

#infos > p {
    font-size: 12px;
    padding: 5px;
}

.item {
    align-items: center;
    justify-content: center;
}

#label-container {
    justify-content: center;
    margin: 10px 0;
}

main {
    display: flex;
    justify-content: center;
}

#menu-list {
    justify-content: flex-end;
    width: 100%;
}

.menu-list-icon {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    margin-right: 2px;
}

#section-cards {    
    flex-wrap: wrap;    
    margin: 20px 0;
    width: 80%;
}

#section-cards-wrapper {
    flex-wrap: wrap;
    gap: 20px;
}

.subtitulo-pizza {
    font-family: var(--fonte-padrao);
    font-size: clamp(16px, 2vw, 20px);
    padding: 10px 0 10px 0;
    text-align: center;
}

#top-header {
    border-bottom: 1px solid var(--cor-border-geral);
    justify-content: space-between;
    height: 60px;
}

#top-header h1 {
    align-items: center;
    font-size: clamp(1rem, 4vw, 2rem);
    flex: 2;
    color: var(--fonte-cor-titulo);
}

@media screen and (min-width: 768px) {
    .card {
        min-width: 200px; 
    }

    #section-cards {    
        justify-content: center;
    }

    #section-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px); 
        justify-content: space-evenly;
        width: 100%;
    }
}