* {
    border: 0;
    margin: 0;
    padding: 0;
}

div {
    /* background: linear-gradient(to left, #F5F5F5, #212121, #F5F5F5); */
    background: radial-gradient(circle, #F5F5F5, #212121, #F5F5F5);
    /* background-color: rgba(173, 20, 87, 0.8); */
    border: 1px solid black;
    height: 400px;
    margin: 30px auto;
    width: 400px;
}