* {
    border: 0;
    margin: 0;
    padding: 0;
}

div {
    margin: 0 auto;
}

#first-div {
    background-color: rgb(66, 165, 245);
    height: 300px;
    width: 300px;
}

#second-div {
    background-color: rgba(66, 165, 245, 0.5);
    height: 300px;
    width: 300px;
}